<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
</head>
<body>
    <h1>Confirmación de datos</h1>
    <div>
    <!--  <form th:object="${herramienta}">-->
        <img class="card-img-top" th:src="'data:image/jpg;base64,' + ${herramienta.getPhoto()}" alt="Previsualizacion de mi imagen" />

<!--         <img id="imagen-preview" th:src="@{${herramienta.photo}}" alt="Vista previa de la imagen seleccionada">
 -->    <p>Título: <span th:text="${herramienta.title}"></span></p>
        <p>Descripción: <span th:text="${herramienta.description}"></span></p>
        <p>Precio: <span th:text="${herramienta.price}"></span></p>
        <p>Categoría: <span th:text="${herramienta.category}"></span></p>
        <p>Ubicación: <span th:text="${herramienta.location}"></span></p>
        <p>Información de carga: <span th:text="${herramienta.charge_info}"></span></p>
    </div>
    <div class="px-5 py-4">
        <form method="post" action="/confirm" th:object="${herramienta}">
           <!-- Campos del formulario -->
          <input type="hidden" name="title" th:value="${herramienta.title}" />
          <input type="hidden" name="description" th:value="${herramienta.description}" />
          <input type="hidden" name="price" th:value="${herramienta.price}" />
          <input type="hidden" name="photo" th:value="${herramienta.photo}" />
          <input type="hidden" name="category" th:value="${herramienta.category}" />
          <input type="hidden" name="location" th:value="${herramienta.location}" />
          <input type="hidden" name="charge_info" th:value="${herramienta.charge_info}" />
          <button type="submit" class="btn btn-success">Confirmar</button>
        </form>

            
        <form method="get" th:action="@{/editar/{herramienta_uuid}(herramienta_uuid=${herramienta.uuid})}">
          <!-- <form method="get" action="@{/editar/{herramienta_uuid}(herramienta_uuid=${herramienta.uuid})}">-->         
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
           <!--  <form method="get" th:action="@{/editar/{uuid}(uuid=${herramienta.uuid})}" th:object="${herramienta}">
                <input type="hidden" name="herramienta_uuid" th:value="${herramienta.uuid}" />
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>  -->                       
    </div>
    
</body>
</html>



<!--  <form method="post" action="/agregar">
                    <input type="hidden" name="herramienta_uuid" th:value="${herramienta.getUuid()}" />
                    <button class="btn btn-outline-dark mt-auto" type="submit">Agregar al carrito</button>
                </form> -->
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
</head>
<body>
    <h1>Confirmación de datos</h1>
    <form th:object="${herramienta}">-->
        <!--<img id="imagen-preview" src="form.html/photo" alt="Vista previa de la imagen seleccionada">-->
        <!-- <p>Título: <span th:text="*{title}"></span></p>
        <p>Descripción: <span th:text="*{description}"></span></p>
        <p>Precio: <span th:text="*{price}"></span></p>
        <p>Categoría: <span th:text="*{category}"></span></p>
        <p>Ubicación: <span th:text="*{location}"></span></p>
        <p>Información de carga: <span th:text="*{charge_info}"></span></p>
    
        <div class="px-5 py-4">
            <form method="post" action="/confirm" th:object="${herramienta}"> -->
                <!-- Campos del formulario -->
               <!--  <input type="hidden" name="title" th:value="${herramienta.title}" />
                <input type="hidden" name="description" th:value="${herramienta.description}" />
                <input type="hidden" name="price" th:value="${herramienta.price}" /> -->
               <!-- <input type="hidden" name="photo" th:value="${herramienta.photo}" /> -->
               <!--  <input type="hidden" name="category" th:value="${herramienta.category}" />
                <input type="hidden" name="location" th:value="${herramienta.location}" />
                <input type="hidden" name="charge_info" th:value="${herramienta.charge_info}" />
                <button type="submit" class="btn btn-success">Confirmar</button>
                
            </form>
            <a th:href="@{/formulario}" class="btn btn-primary">Editar</a -->>
        
           <!--  <form method="get" th:action="@{/modform/{uuid}(uuid=${herramienta.uuid})}">
                <button type="submit" name="Editar" class="nav-item">Editar herramienta</button>
            </form> --> 
                               
        <!-- </div>
    </form>
</body>
</html> -->
