
<!-- Importa Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Importa CSS de MDBootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" integrity="sha512-F/+vD8cc88jKlgFUKS9pL5F5H5W5w00n/ECjgR2h7vZtNfSl3a3YtjNGLf5J1SE5BGPywVEyjKo+JzLHtL0jlA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Importa jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Importa Popper -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

<!-- Importa Bootstrap JS -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Importa JS de MDBootstrap -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js" integrity="sha512-mP+g+s/vfR8WBRHInZEnuYcehLnk7jsuQWNRrX/P3uNPNlTJ7pzK8Ww+L1vJQpxkMh7EBn8/8E/7NGHYcGJ03A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link href="./register.css" rel="stylesheet">
<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <form method="post" action="/register" enctype="multipart/form-data">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #bb494b;">Datos Personales</h3>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="Nombre" class="form-control form-control-lg" name="nombre"/>
                          <label class="form-label" for="Nombre">Nombre</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="apellido1" class="form-control form-control-lg" name="apellido1"/>
                          <label class="form-label" for="apellido1">Primer Apellido</label>
                        </div>
                        <div class="form-outline">
                          <input type="text" id="apellido2" class="form-control form-control-lg" name="apellido2"/>
                          <label class="form-label" for="apellido2">Segundo Apellido</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <input type="text" id="dni" class="form-control form-control-lg" name="dni"/>
                          <label class="form-label" for="dni">DNI</label>
                        </div>
                      </div>
                      
                      <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" id="email" class="form-control form-control-lg" name="email"/>
                        <label class="form-label" for="email">Email</label>
                        </div>
                      </div>
  
                    
                    </div>
  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-orange">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Detalles de contacto</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-orange">
                        <input type="text" id="location" class="form-control form-control-lg" name="location"/>
                        <label class="form-label" for="location">Ubicación</label>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-orange">
                        <input type="password" id="password" class="form-control form-control-lg" name="password"/>
                        <label class="form-label" for="password">Contraseña</label>
                      </div>
                    </div>
  
                      <div class="mb-4 pb-2">
                        <div class="form-outline form-orange">
                          <input type="text" id="movil" class="form-control form-control-lg" name="movil" />
                          <label class="form-label" for="movil">Numero de telefono</label>
                        </div>
  
                      </div>

                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-orange">
                        <input type="text" id="charge_info" class="form-control form-control-lg" name="charge_info" />
                        <label class="form-label" for="charge_info">Medio pago</label>
                      </div>
                    </div>
  
                    <!-- <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-orange">
                          <input type="text" id="form3Examplea7" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea7">Code +</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-orange">
                          <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea8">Número de teléfono</label>
                        </div>
  
                      </div>
                    </div>  -->
  
                     <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                        site.
                      </label>
                    </div> 
                    
                    <div class="px-5 py-4">
                      <button type="submit" class="btn btn-primary btn-lg">Registrarme</button>
                      </div>

                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>