<!DOCTYPE html>
<html>

<head>
    <title>Footer</title>
</head>

<body>
    <footer>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
                <lo class="list-inline-item">
                    <a href="index.hmtl">
                
                        <img src="..\..\..\..\target\classes\images\telefono.jpg" height="65px"></img>
                    </a>
                </lo>
                <lo class="list-inline-item">
                    <a href="info.hmtl">
                
                        <img src="..\..\..\..\target\classes\images\correo.jpg" height="65px"></img>
                    </a>
                </lo>
                <lo class="list-inline-item">
                    <a href="https://github.com/sergioarana11/ISST_DIY4RENT/tree/Publicar_anuncio">
                        <img src="..\..\..\..\target\classes\images\git.jpg" height="65px"></img>
                    </a>
                </li>
            </ul>
            <p >Contactanos</p>
        </div>
    </div>
</div>

    </footer>
</body>

</html>