<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <!-- Custom CSS -->
    <style>
        html,
        body {
            height: 100%;
            min-height: 100%;
            background-color: #2779e2;
        }

        section {
            min-height: 100%;
        }
        .dropdown-menu-container {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <section class="h-100">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
      
              <h1 class="text-white mb-4">Publicar Herramienta</h1>
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                <form method="post" action="/form" enctype="multipart/form-data">
                  <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Nombre herramienta</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      <input type="text" class="form-control form-control-lg" id="title" name="title" required/>
      
                    </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Descripción</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      <input type="text" class="form-control form-control-lg" placeholder="Describir herramienta aquí..." id="description" name="description" required/>
      
                    </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
                      <h6 class="mb-0">Precio</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                      <input class="form-control" type="text" placeholder="Precio" pattern="^\d+(\,\d{1,2})?$" id="price" name="price" required>
                      <div class="valid-feedback">¡El precio tiene un formato válido!</div>
                      <div class="invalid-feedback">¡El campo precio debe tener el formato X0,00!</div>
                    </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Subir imagen</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      <input class="form-control form-control-lg" id="photo" name="photo" type="file" required/>
                      <div class="small text-muted mt-2">Subir imagen en formato jpg.</div>
      
                    </div>
                  </div>

                  <!-- Menu desplegable -->
                  <hr class="mx-n3">
                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Categoría</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <div class="btn-group dropend">
                            <div class="dropdown">
                                <div class="dropdown-menu-container d-flex justify-content-between">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categoría
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" onclick="document.getElementById('category').value='Manual'; document.getElementById('category').placeholder='Manual';">Manual</a>
                                        <a class="dropdown-item" onclick="document.getElementById('category').value='Mecánica'; document.getElementById('category').placeholder='Mecánica';">Mecánica</a>
                                        <a class="dropdown-item" onclick="document.getElementById('category').value='De sujeción'; document.getElementById('category').placeholder='De sujeción';">De sujeción</a>
                                        <a class="dropdown-item" onclick="document.getElementById('category').value='De golpe'; document.getElementById('category').placeholder='De golpe';">De golpe</a>
                                        <a class="dropdown-item" onclick="document.getElementById('category').value='De corte'; document.getElementById('category').placeholder='De corte';">De corte</a>
                                    </div>
                                    <input readonly type="text" class="form-control form-control-lg" placeholder="Categoría..." id="category" name="category" required/>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                

                  <!-- Ubicación -->
                  <hr class="mx-n3">
    
                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
      
                      <h6 class="mb-0">Ubicación</h6>
      
                    </div>
                    <div class="col-md-9 pe-5">
      
                      <input type="text" class="form-control form-control-lg" placeholder="Indicar ubicación..." id="location" name="location" required/>
      
                    </div>
                  </div>

                    <!-- Medio de cobro -->
                    <hr class="mx-n3">
    
                    <div class="row align-items-center py-3">
                      <div class="col-md-3 ps-5">
        
                        <h6 class="mb-0">IBAN</h6>
        
                      </div>
                      <div class="col-md-9 pe-5">
        
                        <input type="text" class="form-control form-control-lg" placeholder="ESXXX..." id="charge_info" name="charge_info" required/>
        
                      </div>
                    </div>

                  <hr class="mx-n3">
      
                  <div class="px-5 py-4">
                    <button type="submit" class="btn btn-primary btn-lg">Publicar herramienta</button>
                  </div>
                </form>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
</body>
</html>
